    @media (min-width: 992px) {
        .navbar-expand-lg .navbar-collapse {
            display: flex !important;
            flex-basis: auto;
            justify-content: end;
        }
    }
    
    @media(max-width:1599px) {
        .our_team .image::after {
            height: 85.5%;
        }
    }
    
    @media(max-width: 1399px) {
        .our_team .image::after {
            height: 83%;
        }
    }
    
    @media(max-width: 1199px) {
        .about .writting {
            margin-top: 30px;
        }
        .our_service .blue_layer {
            left: 0;
        }
        .our_team .image::after {
            height: 81%;
        }
        .portfolio .image button {
            width: 40px;
            height: 40px;
        }
        .testimonial .box {
            left: 47%;
        }
        .testimonial .section_header {
            margin-bottom: 12%;
        }
    }
    
    @media(max-width: 991px) {
        .about .blue_layer {
            width: 120%;
            right: 0%;
            top: 0%;
        }
        .about .writting {
            margin-top: 38px;
        }
        .our_service .blue_layer {
            top: 0;
        }
        .our_team .image::after {
            height: 86.5%;
        }
        .testimonial .box {
            left: 48%;
            top: 25%;
        }
        .testimonial .content {
            margin-top: 65px;
        }
        .testimonial .white_layer {
            top: -5%;
        }
        .testimonial .section_header {
            margin-bottom: 9%;
        }
    }
    
    @media(max-width: 767px) {
        .about .blue_layer {
            width: 67%;
            clip-path: polygon(0 0, 93% 0, 95% 100%, 0% 100%);
            right: 15%;
        }
        .about .blue_layer .gray_layer {
            width: 94%;
            left: 3%;
            top: 0%;
            clip-path: polygon(0 0, 93% 0, 95% 100%, 0% 100%);
        }
        .about .writting {
            min-height: 169px;
            margin-top: 0px;
        }
        .about .para {
            text-align: center;
        }
        .our_service .white_layer {
            left: 42%;
        }
        .our_team .image::after {
            height: 82.5%;
        }
        .testimonial .box {
            top: 23%;
        }
        .our_service .blue_layer {
            width: 76px;
            height: 76px;
        }
    }
    
    @media(max-width: 575px) {
        .topbar .welcome_text {
            text-align: center;
            margin-top: 10px;
        }
        .topbar .social_links ul {
            text-align: center;
            margin-right: 9%;
        }
        .topbar .social_links ul li a {
            margin-left: 14px;
        }
        .banner .content {
            text-align: center;
        }
        .about .blue_layer .gray_layer .image {
            left: 12%;
        }
        .about .blue_layer {
            width: 65%;
            margin-left: 16%;
        }
        .our_service .white_layer {
            left: 43%;
        }
        .portfolio .image button {
            width: 48px;
            height: 48px;
            font-size: 19px;
        }
        .portfolio .image {
            max-width: 300px;
        }
        .our_team .image {
            max-width: 300px;
        }
        .our_team .image::after {
            height: 84.5%;
        }
        .our_service .blue_layer {
            width: 74px;
            height: 76px;
        }
        .our_service .white_layer {
            width: 79px;
        }
    }