/* ==========default css========== */

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

img {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
    display: inline-block;
}

.section_header {
    text-align: center;
}

.section_header h2>span {
    position: relative;
    font-family: 'Oswald', sans-serif;
    color: #353535;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
}

.section_header h2>span::before {
    position: absolute;
    content: '';
    left: 0%;
    bottom: 0%;
    width: 45%;
    height: 2px;
    background-color: #0872b9;
}

.section_header h2>span::after {
    position: absolute;
    content: '';
    left: 47%;
    bottom: 0%;
    width: 5%;
    height: 2px;
    background-color: #0872b9;
}

.section_header h2>span>span {
    position: relative;
}

.section_header h2>span>span::before {
    position: absolute;
    content: '';
    left: 55%;
    bottom: 0%;
    width: 4%;
    height: 2px;
    background-color: #0872b9;
}

.section_header h2>span>span::after {
    position: absolute;
    content: '';
    left: 63%;
    bottom: 0%;
    width: 3%;
    height: 2px;
    background-color: #0872b9;
}


/* ==========topbar css========== */

.topbar {
    background-color: #0872b9;
}

.topbar .row .content {
    display: flex;
    justify-content: space-between;
}

.topbar .welcome_text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    line-height: 30px;
}

.topbar .social_links ul li a {
    margin-left: 25px;
    color: #e7e7e7;
    font-size: 16px;
    line-height: 30px;
    transition: all linear .3s;
}

.topbar .social_links ul li a:hover {
    color: #353535;
}


/* ==========header css========== */

.header .navbar ul li {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-transform: capitalize;
}

.header .navbar ul li a {
    color: #353535;
    transition: all linear .3s;
}

.header .navbar ul li a:hover {
    color: #0872b9;
}


/* ==========banner css========== */

.banner {
    background-image: url(../img/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

.banner::after {
    position: absolute;
    content: '';
    background-color: rgb(54, 45, 49, .7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.banner .content {
    position: relative;
    z-index: 3;
    text-align: right;
}

.banner .content .heading {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    text-transform: capitalize;
}

.banner .content .heading.top {
    font-size: 26px;
    font-weight: 400;
    margin-top: 88px;
}

.banner .content .heading.bottom {
    font-size: 34px;
    font-weight: 700;
    margin: 16px 0 27px 0;
}

.banner .content .para {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    margin-bottom: -142px;
    line-height: 24px;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: #0872b9;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #0872b9;
}

.banner .content button {
    width: 84px;
    height: 33px;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 88px;
}

.banner .content button.hire_us {
    background-color: #0872b9;
    border: 1px solid #0872b9;
}

.banner .content button.contact {
    background-color: transparent;
    border: 1px solid #fff;
    transition: all linear .3s;
}

.banner .content button.contact:hover {
    background-color: #0872b9;
    border: 1px solid #0872b9;
}


/* ==========about css========== */

.about {
    margin-top: 60px;
}

.about .content {
    position: relative;
    min-height: 265px;
}

.about .blue_layer {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #0872b9;
    z-index: 2;
    clip-path: polygon(0 0, 74% 0, 95% 100%, 0% 100%);
}

.about .blue_layer .gray_layer {
    width: 95%;
    height: 100%;
    background: #f1f1f1;
    position: relative;
    z-index: 3;
    left: 0%;
    top: 0%;
    clip-path: polygon(0 0, 77% 0, 95% 100%, 0% 100%);
}

.about .blue_layer .gray_layer .image {
    position: absolute;
    z-index: 4;
    left: 12%;
    top: 3%;
}

.about .writting {
    min-height: 265px;
    font-family: 'Open Sans', sans-serif;
    color: #555;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}


/* ==========our service css========== */

.our_service {
    background-color: #fff;
}

.our_service .content {
    position: relative;
    z-index: 1;
    margin-top: 75px;
}

.our_service button {
    width: 70px;
    height: 70px;
    background-color: #f1f1f1;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    left: 2%;
    top: 2%;
    z-index: 4;
    transition: all linear .3s;
}

.our_service .blue_layer {
    width: 74px;
    height: 74px;
    border: 1px solid #f1f1f1;
    border-radius: 50%;
    position: relative;
    left: 0%;
    top: 1%;
    z-index: 3;
    transition: all linear .3s;
}

.our_service .white_layer {
    width: 80px;
    height: 80px;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    left: 40%;
    top: -21%;
    z-index: 3;
    transition: all linear .3s;
}

.our_service .writting {
    border: 2px solid #f1f1f1;
    background-color: #f1f1f1;
    text-align: center;
    transition: all linear .3s;
}

.our_service .content .writting h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #353535;
    margin-top: 50px;
    text-transform: uppercase;
}

.our_service .content .writting p {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #555;
    padding: 22px 73px;
}

.our_service .content:hover .writting {
    box-shadow: 0 0 12px rgb(0, 0, 0, 0.4)
}

.our_service .content:hover button {
    background-color: #5bc5f4;
    border: 1px solid #fff;
}

.our_service .content:hover .blue_layer {
    border: 1px solid #5bc5f4;
    background-color: #fff;
}

.our_service content:hover .white_layer {
    background-color: #fff;
}


/* ==========our poortfolio========== */

.portfolio {
    padding-bottom: 59px;
}

.portfolio .section_header {
    margin: 58px 0 36px 0;
}

.portfolio .image img {
    width: 100%;
}

.portfolio .image {
    margin-bottom: 8px;
    position: relative;
    z-index: 1;
}

.portfolio .image::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0, .7);
    transition: all linear .3s;
    opacity: 0;
}

.portfolio .image:hover::after {
    opacity: 1;
    height: 100%;
}

.portfolio .image button {
    position: absolute;
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    opacity: 0;
    transition: all linear .3s;
}

.portfolio .image:hover button {
    opacity: 1;
}

.portfolio .image button:hover {
    border: 1px solid #5bc5f4;
    background-color: #5bc5f4;
}


/* ==========Our team css========== */

.our_team {
    padding-bottom: 58px;
}

.our_team .section_header {
    margin-bottom: 38px;
}

.our_team .image {
    position: relative;
    z-index: 1;
}

.our_team .image::after {
    position: absolute;
    content: '';
    width: 0%;
    height: 91%;
    top: 0;
    right: 0;
    z-index: 2;
    background-color: rgb(0, 0, 0, .5);
    opacity: 0;
    transition: all linear .3s;
}

.our_team .image:hover::after {
    opacity: 1;
    width: 35%;
}

.our_team .image img {
    width: 100%;
}

.our_team .image button {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 11%;
    top: 11%;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    font-size: 24px;
    opacity: 0;
    z-index: 3;
    transition: all linear .3s;
}

.our_team .image:hover button {
    opacity: 1;
}

.our_team .image button:hover {
    background-color: #5ac5f4;
    border: 1px solid #5ac5f4;
}

.our_team .image button.facebook {
    top: 13%;
}

.our_team .image button.linkedin {
    top: 32%;
}

.our_team .image button.pinterest {
    top: 51%;
}

.our_team .image button.twitter {
    top: 71%;
}

.our_team h3 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #353535;
    margin-top: 12px;
    text-transform: uppercase;
    transition: all linear .3s;
}

.our_team p {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #555;
    margin-top: 12px;
    text-transform: capitalize;
}

.our_team .image:hover h3 {
    color: #5ac5f4;
}


/* ==========Testimonial css========== */

.testimonial .item {
    position: relative;
}

.testimonial .white_layer {
    width: 80px;
    height: 80px;
    position: absolute;
    content: '';
    left: 43%;
    top: 21%;
    z-index: 2;
    background-color: #f1f1f1;
    clip-path: circle(50% at 50% 50%);
}

.testimonial .white_layer .image {
    position: relative;
    z-index: 3;
    right: 14%;
    top: 2%;
}

.testimonial .box {
    position: relative;
    left: 47%;
    top: 60%;
    width: 33px;
    height: 33px;
    background-color: #f1f1f1;
    transform: rotate(45deg);
}

.testimonial .content {
    background-color: #f1f1f1;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    position: relative;
    left: 0%;
    top: 52%;
}

.testimonial .content .name {
    font-weight: 500;
    font-size: 17px;
    color: #353535;
    padding-top: 20px;
    text-transform: uppercase;
}

.testimonial .content .star {
    font-size: 14px;
    color: #5bc5f4;
}

.testimonial .content .post {
    font-size: 15px;
    color: #555;
    text-transform: capitalize;
}

.testimonial .content .para {
    font-weight: 400;
    font-size: 15px;
    color: #555;
    line-height: 24px;
    padding: 20px 70px;
}


/* ==========contact css========== */

.contact {
    background-color: #353535;
    margin-top: 200px;
}

.contact .image {
    line-height: 77px;
}

.contact .para {
    margin: 15px 0 38px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #f1f1f1;
    line-height: 24px;
    display: flex;
    flex-direction: column;
}

.contact h2.heading {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    line-height: 77px;
}

.contact .item {
    display: flex;
    justify-content: end;
    text-align: left;
    margin-right: 11%;
}

.contact .item.dfr {
    margin-right: 45%;
}

.contact .item button {
    width: 37px;
    height: 37px;
    border: 1px solid #5bc5f4;
    border-radius: 50%;
    background-color: #5bc5f4;
    color: #fff;
    font-size: 20px;
}

.contact .item .contact_way {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #f1f1f1;
    line-height: 24px;
    margin-left: 10px;
}

.contact .item .contact_way h2 {
    font-size: 13px;
}

.contact .list {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
}

.contact .list ul li {
    display: block;
    margin-bottom: 14px;
}

.contact .list ul li a {
    color: #fff;
    transition: all linear .3s;
}

.contact .list ul li a:hover {
    color: #5bc5f4;
}

ol,
ul {
    padding-left: 0rem;
}

.contact .flickr_image {
    display: flex;
    justify-content: space-between;
    margin-left: 27px;
}

.contact .flickr_image .image {
    flex-basis: 33%;
}

.contact h2.heading.flickr {
    margin-left: 27px;
}


/* ==========footer css========== */

.footer {
    background-color: #555555;
}

.footer .copyright {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #f1f1f1;
    line-height: 29px;
    text-align: center;
}

.footer .copyright .beat {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}